In [2]:
# https://www.kaggle.com/datasets/arshkon/linkedin-job-postings

In [1]:
import pandas as pd
from sentence_transformers import SentenceTransformer, util
from annoy import AnnoyIndex
from tqdm import tqdm
import unidecode

In [3]:
model = SentenceTransformer('sentence-transformers/msmarco-distilbert-base-tas-b')

sentence = 'This is a sample sentence'
encoding = model.encode(sentence)
print(encoding.shape)

/home/kevin/.cache/pypoetry/virtualenvs/semantic-search-8qQzEiS--py3.10/lib/python3.10/site-packages/torch/cuda/__init__.py:107: UserWarning: CUDA initialization: CUDA unknown error - this may be due to an incorrectly set up environment, e.g. changing env variable CUDA_VISIBLE_DEVICES after program start. Setting the available devices to be zero. (Triggered internally at ../c10/cuda/CUDAFunctions.cpp:109.)
  return torch._C._cuda_getDeviceCount() > 0

In [4]:
df = pd.read_csv(
    'data/linkedin/company_details/companies.csv'
)

In [5]:
df.set_index('company_id', inplace=True)

In [6]:
df = df.dropna(subset=['description', 'name'])
df.shape

(5999, 9)

In [7]:
df.sample(3)

,name,description,company_size,state,country,city,zip_code,address,url
company_id,,,,,,,,,
82120874,Aarna Software and Solutions LLC,Prospering in the industry for more than 10 ye...,2.0,WY,US,SHERIDAN,82801,30 N GOULD ST,https://www.linkedin.com/company/asasusagroup
1768090,Perry Homes,"A luxury homebuilder founded in 1967, Perry Ho...",5.0,TX,US,Houston,77017,Gulf Fwy.,https://www.linkedin.com/company/perry-homes
2472062,Modern Family Law,Modern Family Law is a national family law fir...,2.0,CO,US,Denver,80246,4500 Cherry Creek South Drive,https://www.linkedin.com/company/modern-family...

In [8]:
df['description'] = df['description'].apply(lambda x: unidecode.unidecode(x.lower()))

In [10]:
encoded_descriptions = model.encode(df['description'].tolist(), show_progress_bar=True)

Batches:   0%|          | 0/188 [00:00<?, ?it/s]

In [11]:
df['encoded_description'] = encoded_descriptions.tolist()

In [12]:
df.to_csv(
    'data/linkedin/company_details/companies_encoded.csv',
)

In [9]:
df = pd.read_csv(
    'data/linkedin/company_details/companies_encoded.csv'
)
df['encoded_description'] = df['encoded_description'].apply(
    lambda x: [float(v) for v in x[1:-1].split(',')]
)

In [10]:
df.sample(3)

,company_id,name,description,company_size,state,country,city,zip_code,address,url,encoded_description
4550,18438915,Pacific Inventory Consultants LLC,"our company provides consulting, buy/sell and ...",2.0,WA,US,Manchester,98353,PO Box 546,https://www.linkedin.com/company/pacific-inven...,"[-0.05795583873987198, 0.5794211030006409, -0...."
4063,10462531,Thor Companies,thor companies(r) is a specialist recruitment ...,2.0,England,GB,London,SW8 1RL,68-70 South Lambeth Road,https://www.linkedin.com/company/thor-companie...,"[0.19136837124824524, 0.17068326473236084, 0.1..."
5492,77767313,Challenge Center Neuro Rehab and Wellness,challenge center is an exceptional not-for-pro...,1.0,California,US,La Mesa,91942,5540 Lake Park Way,https://www.linkedin.com/company/challenge-cen...,"[-0.3120168447494507, -0.3369400203227997, 0.2..."

In [11]:
encoding_size = encoding.shape[0]

t = AnnoyIndex(encoding_size, 'angular')  # Length of item vector that will be indexed
name_map = {}

for i, company_idx in tqdm(enumerate(df.index)):
    t.add_item(i, df.loc[company_idx]['encoded_description'])
    name_map[i] = company_idx

t.build(25) # 10 trees
t.save('linkedin_company.ann')

5999it [00:00, 15475.67it/s]

True

In [ ]:
t = AnnoyIndex(encoding_size, 'angular')
t.load('linkedin_company.ann')

In [16]:
query = 'non profit bee keeper'
fetch_n = 10

encoding = model.encode(query)

results = t.get_nns_by_vector(encoding, fetch_n, search_k=-1, include_distances=False)

for result in results:
    company = df.loc[result]
    print(company['name'], company['description'])

Non-Profit Organization our mission is to help local and national non-profit organizations by assisting them restructure programs, events, sponsorships, grants, board of director infrastructure, bylaws creation, mission statements and more.
FabFitFun founded in 2010 by co-ceos daniel and michael broukhim and editor-in-chief katie echevarria rosen kitchens, fabfitfun is a lifestyle membership and shopping experience whose mission is to deliver happiness and wellbeing to everyone, everywhere. its flagship product, the fabfitfun box, delivers a curated collection of full-size products across beauty, fashion, fitness, wellness, home, and tech - each season. in addition to the box, fabfitfun members receive access to year-round perks including the fabfitfun online community, members-only shopping experiences, exclusive digital content, and more. join fabfitfun by visiting fabfitfun.com.
A Free Bird™ a free bird(tm) is a non-profit arts organization based in ny. a free bird(tm)mission is to empower children effected by cancer to discover their inner artist. we  are dedicated to helping young people, ages 4-18, affected by cancer, fight their disease through the therapeutic benefits of the arts. we provide arts education resources to hospitals and pediatric cancer patients to help them express their ideas and develop their passions while facing treatment. we have resources in all art forms and make them available to kids, their parents, and hospitals, thanks to the help of our collaborative partners, including museums, dance companies, musicians, theatre companies and more! we work closely with our partners to give children hope for their future.
through our three core programs: dream big, take flight, and fly free, we are jumpstarting and nourishing the careers of our young artists. a free bird(tm) is always looking for enthusiastic individuals who are interested in the arts, therapy, and helping children to make a difference.
Zwift we are the fitness company born from gaming. and we're on a mission to make more people, more active, more often.
PickleRoll our mission at pickleroll is to cultivate an inclusive community of pickleball enthusiasts by providing accessible, mobile court solutions. as a usa-based small business, we aim to nurture a culture of unity and sportsmanship, contributing to the development of local communities while promoting health, wellness, and the love of the game. we stand committed to delivering unparalleled customer service and superior products, breaking boundaries, and ensuring every individual has the opportunity to engage in the pickleball experience, anywhere, anytime.
Greater Kirkland Chamber of Commerce the greater kirkland chamber of commerce is an independent, non-profit organization of businesses and individual members working together for the betterment of business, community and lifestyle. we offer networking opportunities, business advice and assistance, public policy advocacy and more.  expand your business, get involved and have some fun!
Rocky Mountain Elk Foundation rmef is a wildlife conservation organization with a mission of ensuring the future of elk, other wildlife, their habitat and our hunting heritage. founded in 1984 with an international headquarters in montana, it advances its mission with a programmatic focus on land conservation and access, habitat stewardship, wildlife management and advocacy on behalf of elk, conservation and hunting.
Flywheel Publishing we own and operate:

https://a-z-animals.com/
https://history-computer.com/
https://www.cheatcc.com/
https://www.momswhothink.com/


OpenPark our mission is to enhance well-being for people & pets through expert resources, educational content, and innovative platform technologies.

we promote collaboration, knowledge exchange, and community engagement to empower pet owners and professionals, while prioritizing the needs of our beloved pets.
Kounkuey Design Initiative kdi is a non-profit design and community development organization. we partner with under-resourced communities to advance equity and activate the unrealized potential in neighborhoods and cities. we accomplish this mission through advocacy, research, planning, and built works.

In [23]:
query = 'A small digital healthcare company.'
fetch_n = 3

encoding = model.encode(query)

results = t.get_nns_by_vector(encoding, fetch_n, search_k=-1, include_distances=False)

for result in results:
    company = df.loc[result]
    print(company['name'], company['country'], company['company_size'], )
    print(company['description'])
    print('---')

Medline Industries, LP US 7.0
medline is a healthcare company-a manufacturer, distributor and so much more, doing business in more than 125 countries and territories around the world. we provide the quality medical products and solutions our customers need to deliver their best care to every person in every care setting. together, we free up the clinical and supply chain resources required to improve the overall operating performance of healthcare.

in a complex healthcare world, medline strives to help our customers achieve both clinical and financial success. we do that through a personalized approach to listen and better understand our customers' needs in an environment that tirelessly demands lower costs and better outcomes.

our responsiveness and commitment to making healthcare run better is evident in our actions every day. this is who we are. this is why customers choose us as their trusted, integrated business partner.
---
K Health US 3.0
we're the clinical primary care company on a mission to get everyone access to high-quality healthcare--at scale. named to the 2022 fast company world's most innovative companies list, k health is an app and web platform that uses ai to combine professional medical knowledge with patient clinical data, empowering doctors and users with information about the diagnoses and treatments of others with similar symptoms and conditions. k health also offers, through affiliated professional entities, the option for text-based care from clinicians practicing on its platform for less than a copay, no insurance needed. k health treats hundreds of urgent and chronic conditions, as well as anxiety and depression, and offers remote wellness visits, custom treatment plans, weight loss management, and mail-order prescriptions.

---
Envision Physician Services US 7.0
envision physician services is a multispecialty provider group and healthcare management team providing anesthesia, emergency medicine, hospital medicine, radiology, surgical services, and women's and children's health services. our collective experience enables us to better solve complex problems and consistently give healthcare organizations confidence in our execution. envision physician services serves more than 900 healthcare facilities in 48 states and employs or contracts with more than 25,200 physicians and other healthcare professionals.

community guidelines: http://bit.ly/2tuonk3
---

In [27]:
query = 'Healthcare services.'
fetch_n = 3

encoding = model.encode(query)

results = t.get_nns_by_vector(encoding, fetch_n, search_k=-1, include_distances=False)

for result in results:
    company = df.loc[result]
    print(company['name'], company['country'], company['company_size'], )
    print(company['description'])
    print('---')

Guthrie US 6.0
health care
---
WebTPA US 4.0
your employees. your healthcare. your way.
---
HCA Healthcare US 7.0
at hca healthcare, we are driven by a single mission:  above all else, we are committed to the care and improvement of human life.

at hca healthcare we recognize the significant responsibility we have as a leading healthcare provider within each of the communities we serve, as well as the opportunity we have to improve the lives of the patients for whom we are entrusted to care. through the compassion, knowledge and skill of our caregivers and our unique ability to leverage our scale and innovation, hca healthcare is a learning health system that uses our approximately 37 million annual patient encounters to advance science, improve patient care and save lives.

hca healthcare is one of the nation's leading providers of healthcare services, comprising 180 hospitals and approximately more than 2,300 sites of care, including surgery centers, freestanding ers, urgent care centers, and physician clinics, in 20 states and the united kingdom. with more than 294,000 colleagues driven by one purpose--to give patients healthier tomorrows--we are excited about the future of medicine and believe we are uniquely positioned to play a leading role in the transformation of clinical care.

note:  be alert for fraudulent job postings, emails, and phone calls. hca healthcare will never send you money or ask you to send money during the interview or hiring process.
---